/* Navbar Styles */
.navbar {
  background-image: linear-gradient(to right, #2c3e50, #4ca1af);
  padding: 1rem 0;
  transition: color 0.3s ease, transform 0.3s ease, background-image 0.3s ease;
}


.navbar-brand {
  letter-spacing: 2px;
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem;
  font-weight: 700;
}

.navbar-brand .text-warning {
  font-family: 'Kaushan Script', cursive;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
}

.nav-link {
  padding: 0.5rem 1rem;
  font-weight: 500;
  text-transform: capitalize;
  transition: color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  border-radius: 5px;
}
.nav-link:hover {
  cursor: pointer;
  color: #ffffff;
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 767.98px) {
  .navbar-nav {
    text-align: center;
  }

  .nav-link {
    padding: 1rem;
  }
}


/*Home styles */

.custom-heading {
  color: #f8f9fa;
  font-size: 2.5rem;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
  letter-spacing: 1.5px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 1.5rem;
}

.custom-paragraph {
  font-size: 1.25rem;
  color: #dcdcdc;
  line-height: 1.75;
  font-family: 'Roboto', sans-serif;
  text-align: justify;
}

.custom-button {
  background-color: #007bff;
  border: none;
  border-radius: 50px;
  font-size: 1.1rem;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
}

.custom-button:hover {
  background-color: #313437;
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(0, 86, 179, 0.4);
}

.arrow-icon {
  display: inline-block;
  transition: transform 0.3s ease;
}

.custom-button:hover .arrow-icon {
  transform: rotate(90deg);
}

.custom-image {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.custom-image:hover {
  transform: scale(1.03);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.8);
}

.bg-dark {
  background-image: linear-gradient(to right, #2c3e50, #4ca1af);
}

.text-light {
  color: #f8f9fa;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
}



/* SocialLinks Styles */

.social-links {
  z-index: 100;
}

.social-link {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: #153049;
  border-radius: 10px;
  transition: background-color 0.3s ease, width 0.3s ease;
  width: 60px;
  padding: 0.75rem 1.25rem;
}

.social-link:hover {
  background-color: #0c253c;
  width: 180px;
}

.icon-container {
  transition: transform 0.3s ease;}

.link-name {
  margin-left: 10px;
  opacity: 0;
  transform: translateX(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  white-space: nowrap;
}

.social-link:hover .icon-container {
  transform: translateX(5px);
}

.social-link:hover .link-name {
  opacity: 1;
  transform: translateX(0);
}

.small-screen .social-link {
  width: 50px;
  padding: 0.5rem 1rem;
}

.small-screen .social-link:hover {
  width: 140px;
}

.small-screen .link-name {
  font-size: 1.9rem;
}


/* Styles About */

.custom-font {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.custom-font.font-weight-bold {
  font-weight: 700 !important;
}

.custom-text {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #dcdcdc;
  text-align: justify;
}


/* Porfolio styles */
.portfolio-container {
  background-image: linear-gradient(to right, #2c3e50, #4ca1af);  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f8f9fa;
  padding: 2rem 1rem;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}

.portfolio-item {
  flex: 1 1 100%;
  margin-bottom: 1rem;
}

@media (min-width: 576px) {
  .portfolio-item {
    flex: 1 1 calc(50% - 1rem); /* 2 columns */
  }
}

@media (min-width: 768px) {
  .portfolio-item {
    flex: 1 1 calc(33.33% - 1rem); /* 3 columns */
  }
}

@media (min-width: 992px) {
  .portfolio-item {
    flex: 1 1 calc(25% - 1rem); /* 4 columns */
  }
}

.portfolio-card {
  transition: transform 0.4s, box-shadow 0.4s;
  border-radius: 10px;
  padding: 7px;
}

.portfolio-card:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.portfolio-image {
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.portfolio-overlay {
  background-color: rgba(130, 133, 133, 0.7);
  opacity: 0;
  transition: opacity 0.3s;
  font-weight: 300;
}

.portfolio-overlay:hover {
  opacity: 1;
}


/* Experience Style */
.hover-scale {
  transition: transform 0.3s ease;
}

.hover-scale:hover {
  transform: scale(1.05);
}

.card-custom {
  width: 100%;
  max-width: 15rem;
  border-radius: 10px;
}

.card-img-custom {
  height: 7rem;
  object-fit: contain;
}

.card-body-custom {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 576px) {
  .custom-heading {
    font-size: 2rem;
  }
  .card-img-custom {
    height: 5rem;
  }
  .card-body-custom {
    padding: 0.5rem;
  }
}

